<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Merchants</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>UserName</th>
        <th>Age</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="hidden"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-success"> Delete</button>
          <button class="btn btn-success" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>