<h2>{{ product.merchantName }} Products</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Product Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products.products">
              <td><a [routerLink]="['/order-checkout/', product.productName,product.productPrice, product.productId]">{{ product.productName }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>